<h1 id="titreh1">Bienvenue dans votre parc {{getParc().nomParc}} ! </h1>


<div>

    <tr *ngFor="let achat of achats">
        <td> {{achat.element.nom}}</td>

    </tr>

</div>

<div>

<div class="">
    <a [routerLink]="['/jeu/achat']" routerLinkActive="active" class="">Acheter du terrain</a>
</div>
<div class="">
    <a [routerLink]="['/jeu/achat']" routerLinkActive="active" class="">Acheter des attractions, restaurants, boutiques, commodités ou employés</a>
</div>

<div class="">
    <a [routerLink]="['/jeu/possession']" routerLinkActive="active" class="">Voir et modifier vos Possessions</a>
</div>

&emsp; &emsp;

<button (click)="finJourneeA()" class="btn btn-light">Finir la Journée</button>

</div>

<!-- <div class="resFinJ">
    <p>Aujourd'hui il a fait {{finJournee().meteo}}</p>
    <p>Vous avez eu {{finJournee().nbV}} Visiteurs</p>
    <p>Vous avez dépensé {{finJournee().depenses}}€.</p>
    <p>Vous avez gagné {{finJournee().recette}} €.</p>
</div> -->

