<br>
<h1 id="titreh1">Bienvenue sur la plateforme du jeu Yolocoaster Tycoon</h1>
<br>
<div id="main" class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div id="image" class="col-5">
      <img src="assets/img/jeu.png" alt="Logo" width=40%>
    </div>
    <div class="col-5">
      <p id="synopsis"> Synopsis </p>
        <p id="texte">YoloCoaster Tycoon est un jeu de gestion de parc d'attractions qui sortira le 24 septembre 2021 !!!
          Préparez-vous pour une immersion totale dans la gestion de votre parc. Vous allez pouvoir le gérer dans les moindres détails
          et créer des attractions gigantesques qui plairont à vos visiteurs, construire des restaurants afin de leur proposer une pause bien méritée, et
          bien d'autres possibilités.</p>

    </div>
  </div>
  <br><br>
  <div>
  <p id="titreCarac">Caractéristiques du jeu :</p>
  <table class="table" >
    <thead>
      <tr>
        <th> Editeurs / Développeurs</th>
        <td> Carolann Tournier | Julien Tusseau | Marie Kerbiriou | Nil Cengiz </td>
      </tr>
      <tr>
        <th> Date de sortie</th>
        <td> 24 Septembre 2021</td>
      </tr>
      <tr>
        <th> Genre(s)</th>
        <td> Gestion | Stratégie</td>
      </tr>
      <tr>
        <th> Classification</th>
        <td> +3 ans</td>
      </tr>
      <tr>
        <th> Mode</th>
        <td> Solo</td>
      </tr>
    </thead>
  </table>
</div>
<div id="footer">
  YoloCompany - Copyrigth &copy; 2021
</div>

</div>
