<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a
        (click)="deconnection()"
        class="nav-item nav-link active"
        id="deconnexion"
        >Déconnexion</a
      >
      <a
        *ngIf="parcIsChosen()"
        (click)="changerParc()"
        class="nav-item nav-link active"
        id="parc"
        >Changer de parc</a
      >
      <a
        *ngIf="parcIsChosen()"
        class="nav-item nav-link active"
        [routerLink]="['/jeu/achat']"
        routerLinkActive="active"
        id="achat"
        >Achats</a
      >
      <i class="pi pi-check"></i>
      <a
        *ngIf="parcIsChosen()"
        class="nav-item nav-link active"
        [routerLink]="['/jeu/mainBoard']"
        routerLInkActive="active"
        id="map"
        >Carte du jeu</a
      >
      <a
        *ngIf="parcIsChosen()"
        class="nav-item nav-link active"
        [routerLink]="['/jeu/possession']"
        routerLInkActive="active"
        id="possession"
        >Possessions</a
      >
      <a
        *ngIf="parcIsChosen()"
        class="nav-item nav-link active"
        [routerLink]="['/jeu/possession/employe']"
        routerLInkActive="active"
        id="possession"
        >Employés</a
      >
    </div>
    <img
      class="navbar-brand"
      src="assets/img/logoYoloSmall.png"
      alt="YoloLogo"
    />
  </div>
</nav>
