nav {
	background-color: #5809ecb3;
}

#deconnexion{
  font-weight: bold;
  color:#000000b5;
}

#possession{
  font-weight: bold;
  color:#000000b5;
}

#map{
  font-weight: bold;
  color:#000000b5;
}

#parc{
  font-weight: bold;
  color:#000000b5;

}

#achat{
  font-weight: bold;
  color:#000000b5;
}

