<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a (click)="deconnection()" class="nav-item btn btn-dark">Déconnexion</a>
      &nbsp;&nbsp;
      <a *ngIf="parcIsChosen()" (click)="changerParc()" class="nav-item btn btn-secondary">Changer de parc</a>
      &nbsp;&nbsp;
      <a *ngIf="parcIsChosen()" class="nav-item btn btn-info" [routerLink]="['/jeu/achat']" routerLinkActive="active" >Achat</a>
      <!-- <a class="nav-item dropdown btn btn-info dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Achat</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" [routerLink]="['/jeu/achat']" routerLinkActive="active">Menu Achat</a>
        <a class="dropdown-item" href="#" [routerLink]="['/jau/achat/terrain']" routerLinkActive="active">Acheter de terrain</a>
        <a class="dropdown-item" href="#" [routerLink]="['/jeu/achat/attraction']" routerLinkActive="active">Acheter une attraction</a>
        <a class="dropdown-item" href="#" [routerLink]="['/jeu/achat/boutique']" routerLinkActive="active">Acheter une boutique</a>
        <a class="dropdown-item" href="#" [routerLink]="['/jeu/achat/restaurant']" routerLinkActive="active">Acheter un restaurant</a>
        <a class="dropdown-item" href="#" [routerLink]="['/jeu/achat/commodite']" routerLinkActive="active">Acheter une commodité</a>
        <a class="dropdown-item" href="#" [routerLink]="['/jeu/achat/employe']" routerLinkActive="active">Embaucher un employé</a>
      </div> -->
    </div>
    <img class="navbar-brand" src="assets/img/logoYoloSmall.png" alt="YoloLogo">
  </div>
</nav>

