#titreh1 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #dd840fe1;
}

#asideLeft {
  margin-top: 1.5%;
}

#section {
  display: flex;
}

app-map {
  max-width: 100%;
  min-width: 50%;
  margin: auto;
}

#asideRight {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#infos {
  text-align: center;
  background-color: lightgrey;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 10%;
}

#button {
  background-color: #5809ecb3;
  color: white;
  border-color: white;
  width: 100%;
}

.textCentre {
  text-align: center;
}

#journee {
  background-color: #5809ecb3;
  font-size: large;
  text-align: center;
}
