<br>
<h1 id="titreh1">Bienvenue dans votre parc {{ getParc().nomParc }} !</h1>
<br>

<div class="container-fluid">
  <div id="row" class="row h-100 justify-content-center">
    <div class="col-2" id="asideLeft">
      <a id="button"
        [routerLink]="['/jeu/achat/terrain']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Agrandir votre parc {{getParc().nomParc}}</a>
      <br><br>
      <a id="button"
        [routerLink]="['/jeu/achat/boutique']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Acheter de nouvells boutiques</a>
      <br><br>
      <a id="button"
        [routerLink]="['/jeu/achat/attraction']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Acheter de nouvelles attractions</a>
      <br><br>
      <a id="button"
        [routerLink]="['/jeu/achat/restaurant']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Acheter de nouveaux restaurants</a>
      <br><br>
      <a id="button"
        [routerLink]="['/jeu/achat/commodite']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Acheter de nouvelles commodités</a>
      <br><br>
      <a id="button"
        [routerLink]="['/jeu/achat/employe']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Embaucher du nouveau personnel</a>
      <br><br>
      <a id="button"
        [routerLink]="['/jeu/possession']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Gérer vos possessions (amélioration et vente)</a>
      <br><br>
      <a id="button"
        [routerLink]="['/jeu/possession/employe']"
        routerLinkActive="active"
        class="btn btn-outline-info"
      >Gérer vos employés (licenciement)</a>
  </div>

  <div class="col-8" id="section">
    <app-map></app-map>
  </div>

  <div class="col-2" id="asideRight">
    <button id="buttonJ"
      (click)="finJournee()"
      class="btn btn-secondary btn-lg">
    Finir la Journée </button>
    <br>
    <div class="card text-center bg-light mb-3" *ngIf="!debutPartie()">
      <div class="card-header"><i> Récapitulatif de la journée : </i></div>
      <div class="card-body">
        <br>
        <p class="card-text">Hier il a {{typeMeteo}}</p>
        <p class="card-text">{{nbVisiteur}} visiteurs sont venus s'amuser dans votre parc</p>
        <p class="card-text">{{nbIncident}} incidents ont eu lieu mais on été gérer</p>
        <p class="card-text"> Vous avez fait {{argentGagne}}€ de recette pour {{argentDepense}}€ de dépensé</p><br>
      </div>
      <img class="card-img-bottom" src="..." alt="Meteo">
    </div>
  </div>
</div>
</div>
<!-- <div id="foot"></div> -->
