#titreh1{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #dd840fe1;
}

#asideLeft {
  margin-top: 1.5%;
}

#section {
  display: flex;
  /* max-width: 85%; */
  /* max-height: 800px; */
}

app-map {
  max-width: 100%;
  min-width: 50%;
}

#asideRight {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
}

#infos{
  text-align: center;
  background-color: lightgrey;
  padding-top:5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 10%;
}
/* #foot {
  background-color: #5809ecb3;
  height: 5%;
} */
