<br><br>
<h1 id="titreh1">Bienvenue dans votre parc {{getParc().nomParc}} ! </h1>
<br>

<app-map></app-map>

<div>
<br><br>
    <a id="button" [routerLink]="['/jeu/achat']" routerLinkActive="active" class="btn btn-outline-info">Acheter du terrain</a>

    <a  id="button" [routerLink]="['/jeu/achat']" routerLinkActive="active" class="btn btn-outline-info">Acheter des attractions, restaurants, boutiques, commodités ou employés</a>

    <a id="button" [routerLink]="['/jeu/possession']" routerLinkActive="active" class="btn btn-outline-info">Voir et modifier vos Possessions</a>

&emsp; &emsp;

<button (click)="finJourneeA()" class="btn btn-secondary btn-lg" id="buttonJ">Finir la Journée</button>

</div>

<!--
 <div class="resFinJ">
    <p>Aujourd'hui il a fait {{finJourneeA().meteo}}</p>
    <p>Vous avez eu {{finJourneeA().nbV}} Visiteurs</p>
    <p>Vous avez dépensé {{finJourneeA().depenses}}€.</p>
    <p>Vous avez gagné {{finJourneeA().recette}} €.</p>
</div>
-->
