#titreh1{
  font-weight: bold;
  font-size: 50px;
 text-align: center;
 color: #dd840fe1;
}

#titreh3{
  font-weight: bold;
  color: #5809ecb3;
  text-align: center;
}

.formulaire
{
	text-align: center;
}

.erreur{
  font-size: 18px;
  color: rgb(202, 6, 6);
}


.table{
  font-weight: bold;
  text-align: center;

}

#contentTable{
  text-align: center;

}
