<br>
<h1 id="titreh1">Yolocoaster Tycoon Achat</h1>
<br><br>
<div class="container-fluid">
  <form (ngSubmit)="acheterTerrain()" [formGroup]="AchatTerrainForm" *ngIf="achatTerrain" class="formulaire">
    <span><strong>Nombre de m² de terrain à acheter ({{prixM2Terrain}}€ le m²) : </strong></span>&nbsp;
    <input name="tailleAchatTerrain" [formControl]="InputM2Terrain" required type="number">&nbsp;&nbsp;
    <button type="submit" [disabled]="AchatTerrainForm.invalid" class="btn btn-success">Acheter du terrain</button>
    <br>
    <span *ngIf="f.m2Terrain.errors?.max" class="erreur">Vous n'avez pas assez d'argent pour acheter autant de terrain</span>
  </form>

  <br><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type de construction</th>
  			<th>Nom</th>
	  		<th>Prix d'acquisition (€)</th>
		  	<th>Coût journalier (€)</th>
			  <th>Nombre d'améliorations possibles</th>
        <th>Taux d'incidents/jour (%)</th>
        <th>Taille (m²)</th>
        <th>Affluence</th>
        <th>Revenu/jour/visiteur (€)</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="contentTable">
      <tr *ngFor="let att of attractions">
        <td id="titreh3">Attraction</td>
  			<td>{{att.nom}}</td>
	  		<td>{{att.prixAcquisition}}</td>
		  	<td>{{att.prixFonctionnement}}</td>
        <td>{{att.nbAmelioration}}</td>
        <td>{{att.tauxIncident}}</td>
        <td>{{att.taille}}</td>
        <td>{{att.affluence}}</td>
        <td>-</td>
        <td>
          <button class="btn btn-outline-info"  (click)="achat(att)">Acheter</button>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let r of restaurants">
        <td id="titreh3">Restaurant</td>
				<td>{{r.nom}}</td>
				<td>{{r.prixAcquisition}}</td>
				<td>{{r.prixFonctionnement}}</td>
				<td>{{r.nbAmelioration}}</td>
        <td>{{r.tauxIncident}}</td>
        <td>{{r.taille}}</td>
      	<td>{{r.affluence}}</td>
        <td>{{r.revenuJourPersonne}}</td>
        <td>
          <button class="btn btn-outline-info"  (click)="achat(r)">Acheter</button>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let b of boutiques">
        <td id="titreh3">Boutique</td>
        <td>{{b.nom}}</td>
        <td>{{b.prixAcquisition}}</td>
        <td>{{b.prixFonctionnement}}</td>
        <td>{{b.nbAmelioration}}</td>
        <td>{{b.tauxIncident}}</td>
        <td>{{b.taille}}</td>
        <td>{{b.affluence}}</td>
        <td>{{b.revenuJourPersonne}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="achat(b)">Acheter</button>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let c of commodites">
        <td id="titreh3">Commodité</td>
        <td>{{c.nom}}</td>
        <td>{{c.prixAcquisition}}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>{{c.taille}}</td>
        <td>Augmente l'affluence</td>
        <td>-</td>
        <td>
          <button class="btn btn-outline-info" (click)="achat(c)">Acheter</button>
        </td>
      </tr>
    </tbody>
  </table>

  <br><br>
  <table *ngIf="employes.length >0" class="table table-striped">
    <thead>
      <tr>
        <th>Main d'oeuvre</th>
  			<th>Métier</th>
		  	<th>Salaire journalier (€)</th>
        <th>Diminution du nombre d'incidents journalier (%)</th>
        <th>Augmentation de l'affluence journalière (%) </th>
        <th></th>
      </tr>
    </thead>
    <tbody id="contentTable">
      <tr *ngFor="let e of employes">
        <td id="titreh3">Employé</td>
        <td>{{e.nom}}</td>
        <td>{{e.salaire}}</td>
        <td *ngIf="e.salaire && e.salaire>50">{{e.salaire}} </td>
        <td>-</td>
        <td *ngIf="e.salaire &&  e.salaire<=50">{{e.salaire}}</td>
        <td>
          <button class="btn btn-outline-info"  (click)="achat(e)">Embaucher</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
