#asideRight, #asideLeft {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-around;
	color: black;
	font-size: 30px;
	text-align: center;
	background-color: #ec8809b3;
	border-radius: 25%;
}

#section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	background-color: #ec8809b3;
	border-radius: 5%;
}

#btnPlay {
	font-size: 3vw;
	height: 50%;
	width: 50%;
}
