nav {
	background-color: #ec8809b3;
}


#infos{
  font-weight: bold;
  color:#327dcd;
}

#inscription{
  font-weight: bold;
  color:#ac1000;
}

#connexion{
  font-weight: bold;
  color:#537910;
}

/* #menu {
	display: flex;
	justify-content: space-around;
	background-color: #ec8809b3;
} */
