<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a id="accueil" [routerLink]="['/accueil']" routerLinkActive="active" class="nav-item nav-link active" >Accueil</a>
      <a id="connexion" [routerLink]="['/connexion']" routerLinkActive="active" class="nav-item nav-link active">Connexion</a>
      <a id="inscription" [routerLink]="['/inscription']" routerLinkActive="active" class="nav-item nav-link active">Inscription</a>
      <a id="infos" [routerLink]="['/infosJeu']" routerLinkActive="active" class="nav-item nav-link active">Informations</a>
    </div>
    <img class="navbar-brand" src="assets/img/logoYoloSmall.png" alt="YoloLogo">
  </div>
</nav>
