
<h1>Liste des parties</h1>
&emsp; &emsp;
<button id="btnAddParc" (click)="ajout=true" class="btn btn-success" value="Créer une nouvelle partie">
&emsp;
<input id="filterPartie" placeholder="filtre">

<div id="addFormParc" *ngIf="ajout">
	<h3>Nouvelle partie</h3>
  <form (ngSubmit)="addParc()" [formGroup]="newParcForm" class="formulaire">
    <div class="form-group" >
      Nom* <input required name="login" [formControl]="InputNom"><br><br>
      <span *ngIf="InputNom.dirty&&InputNom.invalid" class="erreur">Vous possédez déjà un parc de ce nom</span>
      Difficulté* <select name="password" [formControl]="InputDifficulte" required><br><br>
        <option value="Facile">Facile</option>
        <option value="Moyen">Moyen</option>
        <option value="Difficile">Difficile</option>
      </select>
      <button type="submit" [disabled]="newParcForm.invalid" class="btn btn-success">Ajouter</button>
    </div>
  </form>
</div>

     <table class="table table-striped">
       <thead>
         <tr>
           <th>Nom</th>
           <th>Taille</th>
           <th>Argent</th>
           <th>Nombre jours joués</th>
           <th>Difficulté</th>
           </tr>
       </thead>
        <tbody id="contentTable">
				<tr *ngFor="let parc of parcs,">
					<td>{{parc.nomParc}}</td>
					<td>{{parc.taille}}</td>
					<td>{{parc.argent}}</td>
					<td>{{parc.nbjour}}</td>
					<td>{{parc.typeDifficulte}}</td>
					<td>
            <button (click)="playParc(parc.id)" class ="btn btn-warning">Jouer</button>
            <button (click)="deleteParc(parc.id,parc.nomParc)" class ="btn btn-danger">Supprimer</button>
          </td>
				</tr>
		</tbody>
     </table>
