
<h1 id="titreh1">Liste des parties</h1>
<br>
<button id="btnAddParc" (click)="ajout=!ajout" class="btn btn-success">Créer une nouvelle partie</button>
&emsp;
<!-- <input id="filterPartie" placeholder="filtre"> -->
<div class="container-fluid">
<div id="addFormParc" *ngIf="ajout">
	<h3 id="titreh3">Nouvelle partie</h3>
  <form (ngSubmit)="addParc()" [formGroup]="newParcForm" class="formulaire">
    <div class="form-group" >
      Nom * <input required name="login" [formControl]="InputNom"><br>
      <span *ngIf="InputNom.dirty&&InputNom.invalid" class="erreur">Vous possédez déjà un parc de ce nom</span><br>
      Difficulté * <select name="password" [formControl]="InputDifficulte" required><br><br>
        <option value="Facile" selected>Facile</option>
        <option value="Moyen">Moyen</option>
        <option value="Difficile">Difficile</option>
      </select>
      <br><br>
      <button type="submit" [disabled]="newParcForm.invalid" class="btn btn-success">Ajouter</button>
    </div>
  </form>
</div>

     <table class="table table-striped" *ngIf="parcs.length>0">
       <thead>
         <tr>
           <th>Nom</th>
           <th>Taille (m²)</th>
           <th>Argent (€)</th>
           <th>Nombre jours joués</th>
           <th>Difficulté</th>
           <th></th>
           <th></th>
           </tr>
       </thead>
        <tbody id="contentTable">
				<tr *ngFor="let parc of parcs;let index = index">
					<td>{{parc.nomParc}}</td>
					<td>{{parc.taille}}</td>
					<td>{{parc.argent| number: "1.1-1"}} </td>
					<td>{{parc.nbjour}}</td>
					<td>{{parc.typeDifficulte}}</td>
					<td>
            <button (click)="playParc(index)" class ="btn btn-warning">Jouer</button>
          </td>
          <td>
            <button (click)="deleteParc(parc.id,parc.nomParc)" class ="btn btn-danger">Supprimer</button>
          </td>
				</tr>
		</tbody>
  </table>
</div>
