.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main {
  margin: 10px 10px 10px 10px;
  border: darkgreen solid 2px;
  position: relative;
  max-width: 90%;
  display: flex;
}
#map-container {
  max-width: 100%;
  max-height: 700px;
  min-width: 800px;
  min-height: 700px;
  overflow: scroll;
  background-image: url("/assets/img/ground.png");
  scrollbar-color: #5809ecb3;
  margin: auto;
}

.element {
  display: inline-block;
  margin: 10px 10px 10px 10x;
}
h2 {
  text-align: center;
}

#map {
  scrollbar-width: thin;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#vide {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
