<div class="body">
  <h2></h2>
  <div id="main">
    <div id="map-container">
      <div id="vide" *ngIf="empty()">
        <img
          id="virevoletant"
          style="height: 120px; width: 120px"
          src="/assets/img/virevoletant.gif"
        />
        <p>Votre parc est vide...</p>
      </div>
      <div
        *ngIf="!empty()"
        id="map"
        [ngStyle]="{ 'width.px': mapSize, 'height.px': mapSize }"
      >
        <div
          class="element"
          *ngFor="let element of elements"
          [ngStyle]="{
            'width.px': element.taille,
            'height.px': element.taille
          }"
        >
          <img
            style="height: 100%; width: 100%; object-fit: contain"
            src="/assets/img/elements/{{ element.nom }}.png"
            alt=""
            title="{{ element.nom }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
